body {
    font-family: Arial, sans-serif;
    color: #110e0e; /* Para garantir que o texto seja legível sobre o fundo escuro */
    margin: 0;
}

nav {
    background: linear-gradient(90deg, rgb(2 0 36 / 83%) 10%, rgb(226 71 179 / 89%) 30%, rgb(0 212 255 / 84%) 90%); /* Fundo da barra de navegação */
    padding: 1.7;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}

nav ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0;
}

nav ul li {
    display: inline; /* Exibe os itens da lista em linha */
    margin: 0 65px; /* Espaçamento entre os itens */
}

nav ul li a {
    font-weight: bold;
    text-shadow: 1px 1px black;
    color: white; /* Cor do texto do link */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 18px; /* Tamanho da fonte */
}

li{
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

.image-text {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo */
    margin: 3px; /* Espaçamento entre os conjuntos de imagem e texto */
}

.image-text img {
    width: 250px; /* Tamanho fixo para as imagens */
    height: 250px; /* Tamanho fixo para as imagens */
    border-radius: 20px; /* Bordas arredondadas */
    margin: 4px; /* Espaçamento entre a imagem e o texto */
}
.image-text.left {
    height: 325px;
    flex-direction: row;/*Texto à direita, imagem à esquerda*/
}

.image-text.right {
    height: 150px;
    flex-direction: row-reverse; /* Texto à esquerda, imagem à direita */
}

.image-text img:hover{
  box-shadow: 13px 9px 20px #9325257e;
  transform:scale(1.02);
}

.text-left{/*Vai estilizar o texto que esta junto a imagem da esquerda*/
  font-family: cursive, tahoma, Sans-Serif;
  font-size: 32px;
  position: absolute;
  left: 110px;
  top: 150px;
  font-weight: bold;
  text-shadow: 2px 2px 1px white;
}

.text-right{/*Vai estilizar o texto que esta junto a imagem da direita*/
  font-family: cursive, tahoma, Sans-Serif;
  font-size: 32px;
  position: absolute;
  right: 120px;
  top: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 1px white;
}

.interview {/*Borda laranja em volta do video e da entrevista.*/
  border: 8px solid #d72dee96;
  border-radius: 1.6rem;
  padding:8%;
  margin: 1em;
  box-shadow: 0 1.5px rgba(0, 0, 0, 1);
}

.history{
  text-indent:40px;
  text-align: justify;
  margin: 1em;
 }
 
.list-nao{
  font-family: 'Roboto', Tahoma, Sans-Serif;
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  line-height: 2.2;
}

#tip{
  text-align: center;
  text-decoration: underline;
  font-size: 45px;
  margin: 0 auto;
  position: relative;
}

#txt{
  font-family: cursive, Tahoma, Sans-Serif;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  line-height: 1.3;
  margin: 0 auto;
  max-width: 530px;
}

.icon{/*Borda do circulo em volta do numeros*/
  font-weight: bold;
  font-size: 35px;
  background: linear-gradient(137deg, rgb(249 238 246 / 94%) 15%, rgb(187 3 96 / 55%) 35%, rgb(14 14 14) 100%);  border-radius: 100%;
  border: 0 solid;
  width: 50px;
  height: 50px;
  text-align:center;
}

li{
  list-style-type: auto;
  display: list-item;
  text-align: -webkit-match-parent;
}

.list-nao li{
  list-style-type:none;
  font-size: 20px;
}

.list{
  font-family: Times New Roman, Times, Sans-Serif	;
  font-size: 17px;
  font-style: normal;
  line-height: 1.5;
  text-decoration: underline;
}

.list li{
  margin-left: 320px;
}

.content {
    padding: 25px;
    display: flex;
    flex-direction: column; /* Coloca os itens em coluna */
    flex-wrap: wrap;
}

.text{
  display: block;
  font-weight: bold;
  font-size: 15px;
}

@media (max-width: 750px) {

 nav ul li {
    display: inline; /* Exibe os itens da lista em linha */
    margin: 0 10px; /* Espaçamento entre os itens */
}

nav ul li a {
    color: white; /* Cor do texto do link */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 13px;
    font-weight: bold;
  }

iframe{
  width:300px;
  height:150px;
}

.list li{
  margin:0 auto;
  padding:0;

}
.image-text {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo */
    margin: 3px; /* Espaçamento entre os conjuntos de imagem e texto */
}

.image-text img {
    width: 100px; /* Tamanho fixo para as imagens */
    height: 100px; /* Tamanho fixo para as imagens */
    border-radius: 20px; /* Bordas arredondadas */
    margin: 4px; /* Espaçamento entre a imagem e o texto */
}
.image-text.left {
    top: 15px;
    height: auto;
    flex-direction: row;/*Texto à direita, imagem à esquerda*/
}

.image-text.right {
    height: 45px;
    flex-direction: row-reverse; /* Texto à esquerda, imagem à direita */
}

.text-left{/*Vai estilizar o texto que esta junto a imagem da esquerda*/
  font-family: cursive, tahoma, Sans-Serif;
  font-size: 18px;
  position: absolute;
  left: 10px;
  top: 50px;
  font-weight: bold;
  text-shadow: 1px 2px 1px #ece2e2;
}

.text-right{/*Vai estilizar o texto que esta junto a imagem da direita*/
  font-family: cursive, tahoma, Sans-Serif;
  font-size: 17px;
  position: absolute;
  right: 20px;
  top: 10px;
  font-weight: bold;
  text-shadow: 2px 2px 1px #f7f1f1;
}

.list-nao{
  font-family: 'Roboto', Tahoma, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2;
  padding: 2px
}

.text{
  display: block;
  font-weight: bold;
  font-size: 17px;
}

#txt{
  font-family: cursive, Tahoma, Sans-Serif;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  line-height: 1.3;
  margin: 0 auto;
  max-width: 530px;
}

.list-nao li{
  list-style-type:none;
  font-size: 10px;
}

}



